<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dettagli del Presidente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="loading">
        <ion-spinner></ion-spinner>
      </ion-card>
  <ion-card *ngIf="!loading">
    <ion-grid class="mt-1">
      <ion-row>
        <ion-col>
          <strong>
            Nome
          </strong>
        </ion-col>
        <ion-col>
          {{president.name}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Squadra
          </strong>
        </ion-col>
        <ion-col>
          <a routerLink="/team-detail/{{president.ownedTeamId}}">{{president.ownedTeamName}}</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Data e luogo nascita
          </strong>
        </ion-col>
        <ion-col>
            {{president.birthdate[2]}}/{{president.birthdate[1]}}/{{president.birthdate[0]}}, {{president.birthplace}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Nazionalità
          </strong>
        </ion-col>
        <ion-col>
          {{president.nationality}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>