<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dettagli del Presidente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid class="mt-1">
      <ion-row>
        <ion-col>
          <strong>
            Nome
          </strong>
        </ion-col>
        <ion-col>
          Rocco Commisso
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Squadra
          </strong>
        </ion-col>
        <ion-col>
          <a routerLink="/team-detail/Fiorentina">Fiorentina</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Data e luogo nascita
          </strong>
        </ion-col>
        <ion-col>
          25/10/1944, Marina di Gioiosa Jonica
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Nazionalità
          </strong>
        </ion-col>
        <ion-col>
          Italia, Stati Uniti
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>