<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Stagioni
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" style="height:-webkit-fill-available">
    <ion-card-content class="text-center">
        <ion-item *ngFor="let season of seasonsList" routerLink="/season-detail/{{season}}" routerDirection="forward">
          <ion-label>Stagione {{season}}</ion-label>
        </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
