<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dettagli del Giocatore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="loading">
    <ion-spinner></ion-spinner>
  </ion-card>
  <ion-card *ngIf="!loading">
    <div>
      <img src="{{player.img}}" alt="" />
    </div>
    <ion-grid class="mt-3">
      <ion-row>
        <ion-col>
          <strong>
            Nome
          </strong>
        </ion-col>
        <ion-col>
          {{player.name}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Squadra
          </strong>
        </ion-col>
        <ion-col>
          <a routerLink="/team-detail/{{player.teamId}}">{{player.teamName}}</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Data e luogo nascita
          </strong>
        </ion-col>
        <ion-col>
          {{player.birthdate[2]}}/{{player.birthdate[1]}}/{{player.birthdate[0]}}, {{player.birthplace}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Nazionalità
          </strong>
        </ion-col>
        <ion-col>
          Italia
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Ruolo
          </strong>
        </ion-col>
        <ion-col>
          {{player.position}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Piede
          </strong>
        </ion-col>
        <ion-col>
          {{player.mainFoot}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Altezza
          </strong>
        </ion-col>
        <ion-col>
          {{player.height}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Procuratore
          </strong>
        </ion-col>
        <ion-col>
          <a routerLink="/prosecutor-detail/{{player.prosecutorId}}">{{player.prosecutorName}}</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            <strong>Statistiche</strong>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-select #stats (ionChange)="onChange(stats.value)" placeholder="Scegli una Stagione" class="px-0 py-0">
            <ion-select-option value="{{stats.season}}" *ngFor="let stats of player.stats">Stagione {{stats.season}}
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card *ngIf="!loading">
    <div *ngFor="let stats of player.stats">
      <ion-grid style="background-color:white" *ngIf="season == stats.season">
        <ion-row>
          <ion-col>
            <strong>
              Squadra
            </strong>
          </ion-col>
          <ion-col>
            {{stats.team}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>
              Partite giocate
            </strong>
          </ion-col>
          <ion-col>
            {{stats.playedMatches}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!(player.position).includes('porta')">
          <ion-col>
            <strong>
              Gol
            </strong>
          </ion-col>
          <ion-col>
            {{stats.goals}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!(player.position).includes('porta')">
          <ion-col>
            <strong>
              Assist
            </strong>
          </ion-col>
          <ion-col>
            {{stats.assists}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="(player.position).includes('porta')">
          <ion-col>
            <strong>
              Gol subiti
            </strong>
          </ion-col>
          <ion-col>
            {{stats.concededGoals}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>
              Autogol
            </strong>
          </ion-col>
          <ion-col>
            {{stats.ownGoals}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>
              Cartellini gialli
            </strong>
          </ion-col>
          <ion-col>
            {{stats.yellowCards}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>
              Cartellini rossi
            </strong>
          </ion-col>
          <ion-col>
            {{stats.redCards}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>
              Mediavoto
            </strong>
          </ion-col>
          <ion-col>
            {{stats.average}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>
              FantaMediavoto
            </strong>
          </ion-col>
          <ion-col>
            {{stats.fantaAverage}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>

</ion-content>