img, .sc-ion-card-md-s img{
    width:auto;
    height: 40vh;
    margin: auto;
}
ion-card{
    background-color:white;
}
ion-grid{
    color: black;
}
ion-card div{
    background: url(/assets/ball.jpg) repeat;
}