<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dettagli dell'Allenatore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div>
      <img src="/assets/coach.jpg" alt="" />
    </div>
    <ion-grid class="mt-3">
      <ion-row>
        <ion-col>
          <strong>
            Nome
          </strong>
        </ion-col>
        <ion-col>
          Vincenzo Montella
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Squadra
          </strong>
        </ion-col>
        <ion-col>
          <a routerLink="../../team-detail/Fiorentina">Fiorentina</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Data e luogo nascita
          </strong>
        </ion-col>
        <ion-col>
          25/10/1974, Napoli
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Nazionalità
          </strong>
        </ion-col>
        <ion-col>
          Italia
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Modulo
          </strong>
        </ion-col>
        <ion-col>
          433
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>