<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="team-dashboard">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="team-rosa">
      <ion-icon name="people"></ion-icon>
      <ion-label>Rosa</ion-label>
    </ion-tab-button>
    <!--
    <ion-tab-button>
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="ribbon"></ion-icon>
      <ion-label>Classifica</ion-label>
    </ion-tab-button>-->
  </ion-tab-bar>
</ion-tabs>
