<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home">
      <ion-icon name="repeat"></ion-icon>
      <ion-label>Cambia Squadra</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="team-dashboard">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="team-rosa">
      <ion-icon name="people"></ion-icon>
      <ion-label>Rosa</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="players-list">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Svincolati</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>