<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Squadre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card list">
    <ion-card-content *ngIf="loading" class="text-center">
      <ion-spinner></ion-spinner>
    </ion-card-content>
    <ion-card-content  *ngIf="!loading" class="text-center">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">SQUADRA</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let team of teams">
            <tr routerLink="/team-detail/{{team.id}}">
              <th scope="row"><img src="{{team.logo}}" alt="" /></th>
              <td>{{team.name}}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>