<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-menu-button></ion-menu-button>-->
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" style="height:-webkit-fill-available">
    <ion-card-content class="text-center">
      <ion-title class="username" size="large">Phoenix User</ion-title>
      <ion-card class="teams-container">
        <ion-item routerLink="/players-list" routerDirection="forward">
          <ion-label>Elenco Giocatori</ion-label>
        </ion-item>
        <ion-item routerLink="/seasons-list" routerDirection="forward">
          <ion-label>Elenco Stagioni</ion-label>
        </ion-item>
        <ion-item routerLink="/teams-list" routerDirection="forward">
          <ion-label>Elenco Squadre</ion-label>
        </ion-item>
        <ion-item routerLink="/presidents-list" routerDirection="forward">
          <ion-label>Elenco Presidenti</ion-label>
        </ion-item>
        <ion-item routerLink="/coaches-list" routerDirection="forward">
          <ion-label>Elenco Allenatori</ion-label>
        </ion-item>
        <ion-item routerLink="/prosecutors-list" routerDirection="forward">
          <ion-label>Elenco Procuratori</ion-label>
        </ion-item>
        <ion-item routerLink="/stadiums-list" routerDirection="forward">
          <ion-label>Elenco Stadi</ion-label>
        </ion-item>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>