img{
    width:auto;
    height: 40vh;
    margin: auto;
}
ion-card{
    background-color:rgba(255, 97, 86, 0.53);
}
ion-grid{
    color: black;
}
ion-card div{
    background: url(/assets/ball.jpg) repeat;
}