<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dettagli del Giocatore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div>
      <img src="/assets/player.jpg" alt="" />
    </div>
    <ion-grid class="mt-3">
      <ion-row>
        <ion-col>
          <strong>
            Nome
          </strong>
        </ion-col>
        <ion-col>
          Mario Balotelli
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Squadra
          </strong>
        </ion-col>
        <ion-col>
          <a routerLink="/team-detail/Brescia">Brescia</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Data e luogo nascita
          </strong>
        </ion-col>
        <ion-col>
          12/08/1990, Palermo
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Nazionalità
          </strong>
        </ion-col>
        <ion-col>
          Italia
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Ruolo
          </strong>
        </ion-col>
        <ion-col>
          Punta centrale
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Piede
          </strong>
        </ion-col>
        <ion-col>
          Destro
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Altezza
          </strong>
        </ion-col>
        <ion-col>
          1,89 m
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <strong>
              Procuratore
            </strong>
          </ion-col>
          <ion-col>
           <a routerLink="../../prosecutor-detail/MinoRaiola"> Mino Raiola</a>
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            <strong>Statistiche</strong>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-select placeholder="Scegli una Stagione" class="px-0 py-0">
            <ion-select-option>Stagione 2015/16</ion-select-option>
            <ion-select-option>Stagione 2016/17</ion-select-option>
            <ion-select-option>Stagione 2017/18</ion-select-option>
            <ion-select-option>Stagione 2018/19</ion-select-option>
            <ion-select-option>Stagione 2019/20</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>