<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-menu-button *ngIf="profile === 'scientist'"></ion-menu-button>-->
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" style="height:-webkit-fill-available">
    <ion-card-content class="text-center">
      <ion-title class="username" size="large">Phoenix User</ion-title>
      <ion-card *ngIf="loading">
        <ion-item>
          <ion-label>Caricando le tue squadre..</ion-label>
          <ion-spinner></ion-spinner>
        </ion-item>
      </ion-card>

      <ion-card *ngIf="!loading" class="teams-container">
        <ion-item *ngFor="let team of user.teams" (click)="setTeamNavigation(team.id)" routerLink="/tabs"
          routerDirection="forward">
          <ion-label>{{team.name}}</ion-label>
        </ion-item>
      </ion-card>
      <ion-button expand="block" routerLink="/new-team">Crea nuova Squadra</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>