<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     <!--<ion-menu-button></ion-menu-button>-->

    </ion-buttons>
    <ion-title>
      Dettagli della Squadra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf=loading>
    <ion-spinner></ion-spinner>
  </ion-card>
  <ion-card *ngIf="!loading">
    <div>
      <img src="{{team.logo}}" alt="" />
    </div>
    <ion-grid class="mt-3">
      <ion-row>
        <ion-col>
          <strong>
            Nome
          </strong>
        </ion-col>
        <ion-col>
          {{team.name}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Presidente
          </strong>
        </ion-col>
        <ion-col>
          <a routerLink="/president-detail/{{team.presidentId}}">{{team.presidentName}}</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Allenatore
          </strong>
        </ion-col>
        <ion-col>
          <a routerLink="/coach-detail/{{team.coachId}}">{{team.coach}}</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Stadio
          </strong>
        </ion-col>
        <ion-col>
          <a routerLink="/stadium-detail/{{team.stadiumId}}">{{team.stadiumName}}</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Rosa
          </strong>
        </ion-col>
        <ion-col>
          {{team.playersNum}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Età Media
          </strong>
        </ion-col>
        <ion-col>
          {{team.avgAge}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>