.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  img, .sc-ion-card-md-s img{
    height:50px;
    border-radius: 100%;
    max-width:none;
    width:auto;
    margin:auto;
  }

  .players-cnt{
    padding:0;
  }

  td {
    text-align: center; 
    vertical-align: middle;
    padding: 0.3rem;
  }
  
  table thead th{
    vertical-align: middle;
  }
  tbody th{
    padding:0.3rem;
  }

  td > table{
      margin:auto;
  }

  td > table > tr{
    background-color: transparent;
}

.fa, .fa-trash{
  font-size:24px;
}


.goalKeeperBackG{
  background-color: rgba(255, 255, 0, 0.52);
}

.defenderBackG{

  background-color: rgba(83, 193, 42, 0.62);
}

.midfielderBackG{
  background-color: rgba(8, 105, 213, 0.72);
}

.attackBackG{
  background-color:  rgba(255, 97, 86, 0.73);
}