.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .header{
    background-color:white;
  }
  ion-card-content div label{
    padding-right:1.3em;
    padding-left:1.3em;
  }
  
  ion-card-content div input{
    width:80%;
    margin:auto;
  }

  .list{
    height:65%;
    overflow-y: scroll;
  }
  
  img, .sc-ion-card-md-s img{
    height:45px;
    border-radius: 50%;
    max-width:none;
    width:45px;
  }
  
  ion-item ion-label{
    margin:auto;
  }
  
  ion-note{
    font-size:larger;
  }
  
  
  .goalKeeperBackG{
    background-color: rgba(255, 255, 0, 0.52);
  }
  
  .defenderBackG{
  
    background-color: rgba(83, 193, 42, 0.62);
  }
  
  .midfielderBackG{
    background-color: rgba(8, 105, 213, 0.72);
  }
  
  .attackBackG{
    background-color:  rgba(255, 97, 86, 0.73);
  }
  
  .tuttiBackG{
    background-color: rgba(130, 125, 125, 0.7);
  }
   
  .goalKeeperColor{
    color: rgba(255, 255, 0, 0.52);
  }
  
  .defenderColor{
  
     color: rgba(83, 193, 42, 0.62);
  }
  
  .midfielderColor{
    color: rgba(8, 105, 213, 0.72);
  }
  
  .attackColor{
   color:  rgba(255, 97, 86, 0.73);
  }
  
  .tuttiColor{
    color: white;
  }
  
  .list-md{
    background-color: transparent;
  }
  
  td {
    text-align: center; 
    vertical-align: middle;
    padding: 0.6rem;
  }
  
  table thead th{
    vertical-align: middle;
  }

  td > table{
      margin:auto;
  }

  td > table > tr{
    background-color: transparent;
}

.fa, .fa-plus{
  font-size:24px;
}
 .add-txt{
  font-size: 15px;
  padding:0;
  font-style: italic;
}

