<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-menu-button></ion-menu-button>-->

    </ion-buttons>
    <ion-title>
      Dettagli dell'Allenatore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="loading">
        <ion-spinner></ion-spinner>
      </ion-card>
  <ion-card *ngIf="!loading">
    <ion-grid class="mt-1">
      <ion-row>
        <ion-col>
          <strong>
            Nome
          </strong>
        </ion-col>
        <ion-col>
          {{coach.name}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Squadra
          </strong>
        </ion-col>
        <ion-col>
          <a routerLink="/team-detail/{{coach.teamId}}">{{coach.teamName}}</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Data e luogo nascita
          </strong>
        </ion-col>
        <ion-col>
            {{coach.birthdate[2]}}/{{coach.birthdate[1]}}/{{coach.birthdate[0]}}, {{coach.birthplace}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Nazionalità
          </strong>
        </ion-col>
        <ion-col>
          {{coach.nationality}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>
            Modulo
          </strong>
        </ion-col>
        <ion-col>
          {{coach.module}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>